<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> navbar}}
    <main class="container">
      {{{body}}}
    </main>
    <script src="/javascripts/suggest.js"></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/auth.js"></script>
  </body>
</html>
